body {
  margin-top: 0;
  margin-left: 0;
}

/* 
======================
NAV BAR
======================
*/
#nav-bar {
  height: 56px;
  width: 100%;
  background-color: aquamarine;
}

#nav-bar-image {
  height: inherit;
  width: inherit;
}

/* #search {
  height: 26px;
  width: 225px;
} */

/* 
======================
MAIN CONTAINER
======================
*/
#main-container {
  margin-right: 30%;
  padding-left: 24px;
  padding-top: 24px;
  height: 2000px;
  width: 100%;
  background-color: whitesmoke;
}

/* 
======================
VIDEO 
======================
*/
#video-page-container {
  float: left;
}

#video-info-container {
  margin-top: 0;
  /* height: 284px; */
  width: 800px;
}

#video-info-image {
  /* height: inherit; */
  width: inherit;
}

/* 
#video-primary-info-container {
  height: 117px;
  width: 732px;
  background-color: cornflowerblue;
}

#video-secondary-info-container {
  height: 167px;
  width: 732px;
  background-color: darkkhaki;
} */

#comments-container {
  height: 250px;
  width: 732px;
  background-color: darkseagreen;
}

#comments {
  width: 800px;
}

/*
======================
SIDE BAR
======================
*/
#side-bar {
  float: right;
  height: 1000px;
  width: 425px;
  background-color: whitesmoke;
}

#side-bar-image {
  height: 60%;
  width: inherit;
  margin-bottom: 0;
}

#side-bar-image2 {
  top: -50;
  height: 60%;
  width: inherit;
}